@font-face {
    font-family: "Monaspace Neon";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Monaspace Neon";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/MonaspaceNeon-SemiBold.woff2") format("woff2");
}
